.padding_5 {
    padding: 5px;
}

.force_0_margin {
    margin: 0 !important;
}

.popup_title_font {
    letter-spacing: 1px;
    text-shadow: black 1px 1px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 50px;
}

.black_border{
    border-top: 1px solid rgb(8, 13, 21);
}