.margin_top_10 {
    margin-top: 10px;
}

.pills-border {
    border-top: 1px solid rgba(255, 255, 255, 0.19);
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.pointer {
    cursor: pointer;
}