.hero-grid-icon {
    height: 72px;
    width: 128px;
}

.hero-grid-title {
    bottom: 5px;
    left: 5px;
    color: var(--white);
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 1);
}

.selected {
    font-size: 1rem;
    transition: 0.25s linear;
}

.unselected {
    font-size: 0.85rem;
    transition: 0.25s linear;
}

.gradient {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.7091211484593838) 100%);
}

.overlay-block {
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
    background-image: radial-gradient(circle, rgba(255,255,255,0.21612394957983194) 0%, rgba(0,0,0,0.6026785714285714) 100%);
    overflow: hidden;
    height: 72px;
    width: 128px;
    z-index: 99999;
}

.overlay-container {
    background-size: cover;
    position: relative;
}

.overlay-hover {
    opacity: 1;
    cursor: pointer;
}