.game-role-margin {
    margin-top: 10px;
}

.lead-bold {
    font-size: 1.171875rem;
    font-weight: bold;
}

.lead-shadow {
    text-shadow: 3px 3px 13px #888888;
}

.my-66 {
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #333, #00bc8c, #333);
}