.hero-details-button {
    margin-top: 10px;
}

.hero-details-table {
    margin: 20px auto 0;
    font-size: 13px;

}

.hero-details-table-one {
    margin-right: 10px;
}

.hero-details-table-two {
    margin-right: 10px;

}

.hero-details-table-three {
    margin-right: 10px;
}
